.Main_home {
  /* border: 1px solid black; */
  height: auto;
  width: auto;
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-gap: 50px;
  background-color: aliceblue;
}
.Home_Image {
  display: grid;
  justify-content: center;
  align-items: center;
}

p {
  display: grid;
  justify-content: center;
  align-items: center;
}
